AWS_BUCKET_NAME=nome-do-bucket-s3
AWS_ACCESS_KEY_ID=sua-access-key
AWS_SECRET_ACCESS_KEY=sua-secret-key
AWS_DEFAULT_REGION=regiao-escolhida
DB_HOST=host-do-banco-de-dados
DB_NAME=nome-db
DB_USER=user-db
DB_PASS=senha-do-banco
DB_PORT=5432